*, *:after, *:before {
    box-sizing: border-box; 
  }
  html{
    min-height:100%;
    background: #F5F5F5;
    background: linear-gradient(top, #F5F5F5 0%,#A7A7A7 100%);
  }
  
  ul, li{
    margin:0;
    padding:0;
    list-style:none;
  }
  
  .diamonds{
    font-size:1em;
    width: 46.875em;
    margin: 0 auto;
    padding: 4.500em 0 0 ;
  }
  
  .diamonds li {
      perspective: 1000;
    width: 11.125em;
    height: 11.125em;
    display: block;
    float:left;
    margin-left: 4.500em;
  }
  
  /*:nth-child recipes FTW!*/
  .diamonds li:nth-child(2) ~ li{margin-top: -3.313em;}
  
  .diamonds li:nth-child(5n+1){
    margin-left: 10.063em;
  }
  
  .diamonds li:nth-child(6n-9){
    margin-left: 2.250em;
  }
  
  /*the flipping thingy*/
  .flipper {
    display:block;
    width:100%;
    height:100%;
    transform-origin: center center;
    transition: 0.5s;
    transform-style: preserve-3d;
    position: relative;
    color:#3a66b3;
  }
  
  /*animate on hover*/
  .flipper:hover {
    transform:
      rotateX(0deg)
      rotateY(180deg)
      rotateZ(0deg);
  }
  
  .front, .back {
    width: 100%;
    height: 100%;
    overflow:hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .front {
    z-index: 2;
    transform:
      rotateX(0deg)
      rotateY(0deg)
      rotateZ(45deg);
    border: 1px solid #DBDBDB;
  }
  
  .back {
    background: #DBDBDB;
    transform:
      rotateX(0deg)
      rotateY(180deg)
      rotateZ(45deg);
  }
  
  .front img{
    width:140.5%;
    height:auto;
    transform:
      translateX(-14.5%)
      translateY(-14.5%)
      translateZ(0)
      rotateX(0deg)
      rotateY(0deg)
      rotateZ(-45deg);
  }
  
  .back span{
    display:block;
    width:100%;
    height:100%;
    line-height:11.125em;
    text-align:center;
      transform:
      rotateX(0deg)
      rotateY(0deg)
      rotateZ(-45deg);
  }
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 9999;
    display: none;
}

.close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

h1{
  position: relative;
  left: 10%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #f1f1f1;
}

header{
  background-color: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  position: absolute;
  top: 12px;
  left: 85%;
}

.logo img {
  width: 75%; /* Tamaño del logo ajustable */
}

.popup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.popup-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.popup-caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
}

.popup-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.popup-close:hover,
.popup-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

footer{
  background-color: black;
  position: absolute;
  bottom: 0%;
}
